
*.db
*.sqlite
*.sqlite3

/logs/
/reports/
*.log
scan_results.csv
reporte_escaneo_*.txt
temp_data.*

*.suo
*.ntvs*
*.njsproj
*.sln

config.php
credentials.json
.env


.vscode/*
!.vscode/extensions.json  # Mantener este archivo para sugerir extensiones al equipo
.idea
*.sw?

node_modules/